@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poiret+One&family=Poppins&display=swap');
body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#title {
    background-image: linear-gradient(45deg, #ff0f7b, #f89b29);
    color: white;    
    width: 100vw;
}

#title h1 {
    font-family: 'Poiret One', cursive;
}
#title p {
    font-size: 1.75vw;
}
section:not(#title), title div {
    width: 90vw;
    position: relative;
    transform: translateX(10vw);
}
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 950px) {
    #scrollindicatorbox, #scrollindicatorbox ul, #scrollindicatorbox li, #scrollindicatorbox div  {
        display: none;
    }
    section:not(#title), title div {
        width: 100vw;
        position: relative;
        transform: none;
    }
    section:not(#title) div {
        font-size: 1.3vh !important;
    }
}

section:not(#title) div {
    max-width: 40vw;
    font-size: 2vh;
    max-height: 100vh;
    overflow: scroll;
    padding: 10px;
}

section h1 {
    font-size: 4vw;
}

#scrollindicatorbox {
    position: fixed;
    display: flex;
    align-items: center;
    width: 10vw;
    height: 100vh;
}

#scrollindicatorbox ul {
    list-style-type:none;
    position: relative;
    left:2.5vw;
    margin: 0;
    padding: 0;
    height: 80vh;
}
#scrollindicatorbox ul li {
    display: block;
    height: calc(100%/7);
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: white;
    padding: 10px;
}

#scrollindicator {
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    left:1.25vw;
    transform: translateX(-50%);
    border-radius: 100px;
    top: calc(80vh/7 + 30px);
}

model-viewer {
    width: 30vw;
    height: 30vh;
    margin: 10px;
}

.model {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 40vw;
}

#credit {
    text-decoration: underline;
    padding: 0;
}